/*********************************************/
/*********************************************/
/***************  CONTACTO  ******************/
/*********************************************/
/*********************************************/

.p-contacto {
	width: 100%;
	height: 100%;
	background-color: darkblue;
	justify-content: space-around;
	align-items: center;
	border-radius: 20px;
	text-align: -webkit-center;
	margin-bottom: 2%;
	margin-right: auto;
	margin-left: auto;
	padding: 3% 3% 3% 3%;
}
.formulario p {
	font-weight: bold;
	font-family: sans-serif;
	font-size: 30px;
	color: black;
	margin-top: 1px;
}
.formulario {
	border-radius: 20px;
	background-color: #ffffff; 
	color: black;
	font-size: 15px;
	padding: 20px 20px 20px 20px;
	width: 100%;
	height: 100%;
	text-align: left;

}
.cajaimagen {
	align-self: flex-end;
	ul {
		li { 
			color: gold;
			text-align: left;
			span {
				color: white;
				}

			}
		}
}

@media (max-width: 575.98px) {
	.formulario p {
	    font-size: 18px;
    }
	.formulario {
		font-size: 10px;
	}
	.cajaimagen {
		margin-top: 3%;
	}	
}